@import "variables";
@import "reset";

p {
    color: $text-color;
    font-size: 22px;
    font-weight: 300;
}

.mt-1 {
    margin-top: 10px;
}

.primary-title {
    color: $primaryColor !important;
    font-weight: 500 !important;
    font-size: 48px !important;
}

.primary-text {
    color: $primaryColor !important;
    font-weight: 500 !important;
    font-size: 16px;
    margin: 0;
}

.large-text {
    font-size: 26px !important;
}

.text-bold {
    font-weight: 500;
}

.header {
    background-color: $primaryColor;
    height: 58px;
    .header-navigation-icon {
        color: #fff;
        font-size: 22px;
    }
    .header-logo {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        h1 {
            color: #fff;
            font-size: 20px;
            margin: 0;
        }
        span {
            color: #fff;
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.header-apply {
    background-color: $greenColor;
    position: absolute;
    right: 0;
    top: -20px;
    display: flex;
    align-items: center;
    border-radius: 105px;
    width: 105px;
    height: 105px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.04);
    }
    span {
        line-height: 1.2;
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
}

.jumbotron {
    margin: 55px 0;
    .jumbotron-ps {
        display: flex;
        gap: 8px;
    }
    .interaction-icon {
        top: -90px;
        right: 80px;
        position: absolute;
    }
}

.powered-by {
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: flex-start;
    div {
        p {
            &:first-child {
                font-size: 18px;
            }
            margin: 0;
        }
    }
}

.fullwidth {
    width: 100%;
}

.card {
    background: #fff;
    border: 1px solid #dadada;
    width: 100%;
    display: block;
    padding: 30px 40px 40px 40px;
    border-radius: 4px;
    width: 100%;
    &.scholarship {
        height: 564px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 16px;
        h1 {
            font-style: normal;
            font-weight: 300;
            font-size: 48px;
            margin-top: 33px;
        }
    }
}

.scholarship-wrapper {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    height: 564px;
    .scholarship-item {
        padding: 25px;
        flex: 48% 2;
        .ant-divider-horizontal {
            margin: 0;
            margin-bottom: 10px;
            min-width: 40px !important; // override antdesign styles
            width: 40px;
        }
        &.commitment {
            height: 294px;
        }
        &.contract {
            height: 178px;
        }
    }
}

.close-application {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .counter {
        display: flex;
        flex-direction: row;
        gap: 15px;
        p {
            margin: 0;
            font-weight: 300;
            font-size: 27px;
            line-height: 24px;
            color: $text-color;
        }
    }
}

.application-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    .information-item {
        flex: 47% 2;
    }
    p {
        font-size: 16px;
    }
}
.person {
    &::before {
        content: "";
        margin: 0 auto;
        position: absolute;
        top: -20px;
        left: -10px;
        width: 438px;
        height: 438px;
        overflow: visible;
        background: url("../assets/about-pattern.png") no-repeat;
    }

    img {
        border-radius: 50%;
    }
}

.top-section {
    &::before {
        content: "";
        margin: 0 auto;
        position: absolute;
        bottom: -100px;
        right: 0;
        width: 560px;
        height: 395px;
        overflow: visible;
        background: url("../assets/top-pattern.png") no-repeat center center;
    }
}

.testimonial-section {
    &::before {
        content: "";
        margin: 0 auto;
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        width: 1120px;
        height: 395px;
        overflow: visible;
        background: url("../assets/testimonial-pattern.png") no-repeat center center;
    }

    .testimonial {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: #fff;
        .testimonial-content {
            padding: 55px 120px;
            justify-content: flex-start;
            text-align: left;
            background-color: #fbfbfb;
            h1 {
                text-align: left;
                font-style: normal;
                font-weight: 300 !important;
                font-size: 26px;
                color: #6a6a6a;
                line-height: 35px;
            }
            p {
                font-size: 16px;
                margin: 40px 0 0 0;
            }
        }
        .tesimonial-info {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            padding: 40px;
            .anticon {
                font-size: 24px;
                color: #b2b2b2;
            }
            .author {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p {
                    font-size: 16px;
                    margin: 0;
                }
            }
        }
    }
}

.faq {
    .faq-filter {
        .ant-select-arrow {
            right: -95px !important;
            color: #000;
        }
        .ant-select-selector {
            border-radius: 29px;
            padding-left: 24px;
            width: 235px;
            height: 58px;
            display: flex;
            align-items: center;
            justify-content: center;

            .ant-select-selection-item {
                color: $primaryColor;
                font-style: normal;
                font-weight: 500 !important;
                font-size: 18px;
                line-height: 24px;
            }
        }
        p {
            font-size: 16px;
            margin: 0;
        }
    }
    .faq-icon {
        font-size: 48px !important;
        &.close {
            color: $primaryColor;
        }
        &.open {
            color: #dadada;
        }
    }
    .ant-collapse-header {
        // Override AntD styles
        display: flex;
        min-height: 100px;
        align-items: flex-start;
        padding-right: 120px !important;
        .ant-collapse-arrow {
            top: 50px !important;
        }
    }
    .ant-collapse-content-box {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .ant-collapse-item {
        border-bottom: 1px solid #e6e6e6;
        padding-top: 47px;
        padding-bottom: 10px;
        margin: 0;
        &:first-child {
            border-top: 1px solid #e6e6e6;
        }
    }
    .faq-panel {
        display: flex;
        align-items: flex-start;
        gap: 150px;
        min-height: 100px;
        padding-top: 20px;
        .faq-content {
            width: 60%;
            .content {
                display: none;
                margin-top: 20px;
                &.visible {
                    display: block;
                    animation-name: opacity;
                    animation-duration: 0.3s;
                }
            }
        }
        p {
            margin: 0;
        }
        .faq-panel-title {
            font-size: 22px;
            font-weight: 500;
            color: $primaryColor;
        }
    }

    .faq-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
    }
}

.stickybar {
    height: 86px;
    width: 100%;
    position: fixed;
    bottom: -86px;
    left: 0;
    right: 0;
    padding: 15px 125px;
    background-color: #fff;
    border-top: 1px solid #dadada;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 95px;
    z-index: 10;
    display: none;
    &.visible {
        bottom: 0;
        opacity: 1;
        display: flex;
        animation-name: opacity;
        animation-duration: 0.3s;
    }
    .information-item {
        p,
        .primary-text {
            color: #535353 !important;
            font-size: 16px;
        }
    }
}

.hidden-lg {
    display: none;
}

@keyframes opacity {
    0% {
        opacity: 0;
        bottom: -86px;
        display: none !important;
    }
    100% {
        bottom: 0;
        opacity: 1;
        display: flex !important;
    }
}

@import "responsive";
