$darkColor: #685DC5;
$primaryColor: #2d87ff;
$greenColor: #4fA16C;
$third-color: #fc9918;
$border-radius-base: 4px;
$height-base: 32px;
$layout-body-background: #fafafa;
$light-color: #d9d9d9;
$gray-color: #b1b1b1;
$text-color: #535353;
$body-background: #fafafa;
