@dark-color: #001529;
@primary-color: #2d87ff;
@secondary-color: #040404;
@third-color: #fc9918;
@border-radius-base: 4px;
@height-base: 32px;
@layout-body-background: #fafafa;
@light-color: #d9d9d9;
@gray-color: #b1b1b1;
@text-color: #0a1931;
@body-background: #fafafa;
